@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 255 115 179;
  --color-secondary: 111 114 185;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-blue-800;
}

a.PostRow {
  @apply text-black;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold dark:text-white;
}

h3 {
  @apply text-xl font-bold pt-4;
}

select {
  @apply w-full p-2 rounded-md;
}

.button {
  @apply bg-black text-white p-3 rounded-md block text-center w-full !py-4;
}

/* This creates latency on mobile: https://css-tricks.com/annoying-mobile-double-tap-link-issue/
.button:hover {
  @apply bg-gray-800;
}
*/

.button:disabled {
  @apply bg-gray-400 text-white;
}

.button:active:not(:disabled) {
  @apply bg-gray-900 scale-95;
}

.tag {
  /* @apply font-bold px-2 py-1 border-2 border-gray-300 rounded-lg mr-1 inline-block mb-1; */
  @apply lowercase block px-2 py-1 rounded-full text-xs font-medium border-2 border-gray-200/20 text-gray-700;
}

.tag.selected {
  @apply border-blue-500;
}

.text p {
  @apply my-3 leading-relaxed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 20, 20, 20;
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }
  a {
    @apply text-blue-300;
  }
  /* button {
    @apply bg-white text-black;
  } */
  form input,
  textarea,
  select {
    @apply text-black;
  }
  .button {
    @apply rounded-lg border-white border-2;
  }
  .tag {
    @apply bg-gray-200 text-gray-900;
  }
  .tag.selected {
    @apply bg-blue-500;
  }
}
